.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #fff;
  color: white;
  box-shadow: 0px 0px 5px #888888;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.folder-font {
  font-size: 20px;
}

.folder-font-modal {
  font-size: 30px;
}

.header-name {
  font-size: -webkit-xxx-large;
  color: #4482e5;
  font-weight: 600;
  font-family: monospace;
}

.signInText {
  font-family: dropbox;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #D3D3D3;

}

.delete-group-span {
  float:right;
  font-size: 20px;
  padding-top: 5px;
  color: red;
}

.error-text-box {
  border-color: red;
}

.error-label {
  float: left;
  font-family: dropbox;
  font-size: 13px;
  color: red;
}
.success-label {
  float: left;
  font-family: dropbox;
  font-size: 13px;
  color: green;
}

.sign_in_button {
  float: right;
  font-family: dropbox;
}

.create-account {
  text-align: right;
}
.padding_10 {
  padding-top: 10px;
}

.logo {
  height: 40px;
  width: 50px;
}

.logo-text {
  margin-left: 3px;
  height: 65px;
  width: 110px;
}

.leftpane {
  height: auto;
  width: auto;
  align: right;
  padding-left: 150px;
}

.login-signup-container {
  padding-top: 150px;
}


.error-message {
  float: left;
  color: red;
}

.danger-error {
  border-color: red;
}


.no_padding {
  padding: 0px;
}
.full-height {
   height: 100%;
}

.left_panel {
  background-color: #f7f9fa;
  top:0;
  bottom:0;
  position: fixed;
  width: 240px;
}

.padding_240 {
  padding-left: 240px;
}

.logoPanel {
  height: 30px;
  width: auto;
  margin-top: 41px;
}

.bullets-none {
  list-style: none;
}

.home-container {
  height: 100%;
}

.left_align {
  text-align: left;
}


.dropbox-font-large{
  font-family: dropbox;
  font-size: 18px;
}

.font-grey{
  color: grey;
}

.list-left-panel {
  padding-top: 10px;
  padding-bottom: 10px;
}

.go_bottom_25 {
  margin-top: 25px;
}

.go_bottom_45 {
  margin-top: 45px;
}


.heading-dashboard {
  margin-top: 40px;
  font-family: dropbox;
  font-weight: bolder;
  font-size: 22px;
}

.bottom_20 {
  margin-bottom: 20px;
}

.smiley {
  width: 35px;
  height: auto;
  margin-top: 35px;
  margin-right: 0;
}

.smiley-drop {
  width: 35px;
  height: auto;
  margin: 10px;
}

.profile-menu {
  width: 100%;
}

.profile-button {
  text-align: right;
}

.proile-dropdown {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-family: dropbox;
  font-size: 14px;
}

.proile-dropdown-signout {
  padding: 10px;
  font-weight: bold;
  font-family: dropbox;
  font-size: 15px;
}

.go_bottom_100 {
  padding-top: 100px;
}
.black-anchor {
  color: black;
  text-decoration: none !important;
}

.proile-dropdown-signout:hover {
    background: #f7f9fa;
}

.text-decoration {
  text-decoration: none !important;
}


.uploadButton {
  width: 100%;
  font-family: dropbox;
  background-color: #0070E0;
  color: white;
  font-weight: bold;
}

.uploadButton:hover {
    color: white;
    background-color: #197EE3;
}

.white-font{
    color: white;
}

.padding_below_20 {
  padding-top: 20px;
}


.dropbox-font-medium {
  font-size: 18px;
  font-family: dropbox;
  font-weight: bold;
}

.font-color-dropbox {
  color: #92CEFF;
}
.no_padding {padding: 0px !important}

#fileLoader {
  display: none;
}

.cursor {
  cursor: pointer;
}

.move_left {
  float: left;
}

.dropbox-icon-large-folder {
  font-size: 35px;
}

.dropbox-icon-large-file {
  font-size: 40px;
  color:#677685;
}

.dropbox-icon-medium {
  font-size: 24px;
}

.filename-dash {
  position: relative;
  bottom: 8px;
  font-family: dropbox;
  font-weight: bold;
  font-size: 16px;
}

.fa-med-icons {
  font-size: 30px;
}

.feature-star {
  position: relative;
  bottom: 4px;
  left:20px;
  font-size: 20px;
}

.light_blue {
  color: #92CEFF;
}

.text_left {
  text-align: left;
}

.hrsize {
  size:10;
}

.file-area {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #E6E8EB;
}

.folder-name {
  width: 90%;
}

.padding-right-10 {
  padding-right: 10px;
}

.createFolderButton {
  background-color: #0070E0;
  font-family: dropbox;
  font-weight: bold;
  border-radius: 5px;
}


.home-headings {
  font-family: dropbox;
  font-size: 15px;
  color: grey;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 20px;
}

.horizontal-margin {
  margin-left: 30px;
}

.emailGridInGroups {
  font-family: dropbox;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 20px;
}

.remove-user {
  font-size: 15px;
  right: 20px;
  position: fixed;
  color:red;
}

.modal-headings {
  font-family: dropbox;
  font-size: 15px;
  color: grey;
  text-align: left;
  margin-left: 30px;
}

.three-dots {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}
.three-dots:hover {
  border: 1px solid blue;
  border-radius: 4px;
}

.dropdown-inner {
  padding: 5px;
}
@media screen and (max-width: 799px) and (min-width: 280px) {
    .leftpane {
      display: none;
    }

    .left_panel {
      width: 160px;
    }

    .padding_240 {
      padding-left: 160px;
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
    font-family: dropbox;
    src: url("./fonts/newfont.otf") /* EOT file for IE */
}
